.button-std {
  background-color: #3e9e969f;
  border: 3px;
  color: rgb(0, 0, 0);
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 7px 7px;
  border-radius: 5px;
  font-family: 'Lucida Grande', sans-serif;
}

.button-small {
  background-color: #48adcc;
  border: 3px;
  color: rgb(0, 0, 0);
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  border-radius: 5px;
  font-family: 'Lucida Grande', sans-serif;
}

.skin-search-form{
  background-color: #3e9e969f;
  border: 3px;
  padding: 8px 8px;
  margin: 7px 7px;
  border-radius: 5px;
}