<button class="button-std" (click)="toggleTierDropDown()">Filter by Tier</button>
<button class="button-std" (click)="toggleChampionDropDown()">Filter by Champion</button>
<skin-search class="skin-search-form" (skinSearchValue)="filterList(undefined, undefined, $event)"></skin-search>
<br>
<div *ngIf="tierDropDown">
    <button class="button-small" *ngFor="let tier of tiers" (click)="filterList(undefined, tier, undefined)">{{ tier }}</button>
</div>
<div *ngIf="championDropDown">
    <button class="button-small" *ngFor="let champion of champions" (click)="filterList(champion, undefined, undefined)">{{ champion }}</button>
</div>