<button class="button-std" (click)="toggleTierDropDown()">Filter by Tier</button>
<button class="button-std" (click)="toggleChampionDropDown()">Filter by Champion</button>
<span style="display:inline-block; width: 100px;"></span>
<br>
<div *ngIf="tierDropDown">
    <button class="button-small" *ngFor="let tier of tiers" (click)="filterList(undefined, tier)">{{ tier }}</button>
</div>
<div *ngIf="championDropDown">
    <button class="button-small" *ngFor="let champion of champions" (click)="filterList(champion, undefined)">{{ champion }}</button>
</div>